<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{style:'detail.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="product-detail">
      <div class="product-container">
        <div class="product-images">
          <img
            src="../../media/productos/<%= product.image %>"
            alt="Nombre del producto"
          />
        </div>

        <div class="product-info">
          <h1><%= product.name %></h1>
          <p class="price">$<%= product.price %></p>

          <div class="cantidad-selector">
            <button class="cantidad-btn">-</button>
            <span class="cantidad">0</span>
            <button class="cantidad-btn">+</button>
          </div>
          <form action="/cart/add" method="POST">
            <input type="hidden" name="productID" value="<%= product.id %>"/>
            <button class="add-to-cart">Agregar al carrito</button>
          </form>
          <div class="product-description">
            <p><strong>Descripción:</strong> <%= product.description %></p>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %> <%-
    include('../partials/carrito.ejs') %>
    <script>
      document.querySelector(".menu").addEventListener("click", () => {
        const nav = document.querySelector("nav");
        nav.classList.toggle("nav-visible");
      });
    </script>
  </body>
</html>
