<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{style:'login.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <button><a href="/users/edit">Editar perfil</a></button>
      <h1>Perfil de <%= locals.userLogged.name %></h1>
      <img
        src="/media/users/<%= locals.userLogged.profile %>"
        alt="foto de perfil de <%= locals.userLogged.name %>"
      />
    </main>
    <%- include('../partials/footer.ejs') %> <%-
    include('../partials/carrito.ejs') %>
    <script>
      document.querySelector(".menu").addEventListener("click", () => {
        const nav = document.querySelector("nav");
        nav.classList.toggle("nav-visible");
      });
    </script>
  </body>
</html>
