<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{style:'catalogo.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <h1>Todos los productos</h1>

      <a href="/catalogo/create"><button>Crear producto</button></a>

      <div class="productos-container">
        <% products.forEach(product => { %>
        <div class="producto">
          <div class="btn-producto">
            <a href="/catalogo/create"><button>Modificar</button></a>
            <a href="/catalogo/create"><button>Eliminar</button></a>
          </div>
          <a href="./catalogo/<%= product.id %>">
            <img
              src="../../media/productos/<%= product.image ? product.image : 'default.jpg' %>"
            />
          </a>
          <h3><%= product.name %></h3>
          <div class="precio">$<%= product.price %></div>
          <button class="btn-comprar">Añadir al carrito</button>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %> <%-
    include('../partials/carrito.ejs') %>
    <script>
      document.querySelector(".menu").addEventListener("click", () => {
        const nav = document.querySelector("nav");
        nav.classList.toggle("nav-visible");
      });
    </script>
  </body>
</html>
